# Archivos de Entorno
.env
.env.*
.env.local

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/kubeconfig.yaml
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc

# Go
/app/main
/app/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDEs y Editores
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
